In [11]:
#Base Type

In [1]:
print('Hello World!')

Hello World!

In [2]:
print("Hello World!")

Hello World!

In [3]:
print("The \n makes a new line")

The
 makes a new line

In [4]:
print("The \t is a tab")

The 	 is a tab

In [5]:
print("I'm going to the movies")

I'm going to the movies

In [6]:
print("This is a string enclosed by \"\" not '' ")

This is a string enclosed by "" not ''

#

In [9]:
firstVariable = 'Hello World'
print(firstVariable)

Hello World

In [10]:
#String Operations

In [13]:
print(firstVariable.lower())
print(firstVariable.upper())
print(firstVariable.title())

hello world
HELLO WORLD
Hello World

In [14]:
help(firstVariable.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [15]:
help

Type help() for interactive help, or help(object) for help about object.

In [16]:
firstVariable.split(' ')

['Hello', 'World']

In [17]:
a=firstVariable.split(' ')
a

['Hello', 'World']

In [18]:
' '.join(a)

'Hello World'

In [19]:
print("0" + "1")

01

In [20]:
'0' * 3

'000'

In [21]:
'Fizz' + 'Buzz'

'FizzBuzz'

In [23]:
#Base Math

In [22]:
1+1

2

In [24]:
130-2.0

128.0

In [25]:
130/2

65.0

In [26]:
130-2

128

In [27]:
2*3

6

In [28]:
2**3

8

In [29]:
9%3

0

In [30]:
#if Statement

In [32]:
num = 3
if num == 3:
    print(num)

3

In [33]:
num = 3
if num % 3 == 0:
    print('Fizz')

Fizz

In [35]:
num = 10
if num % 5 == 0:
    print('Buzz')

Buzz

In [36]:
if True:
    print('This was True')

This was True

In [37]:
if False:
    print('Nothing printed')

In [38]:
num = 4
num > 0 and num < 15

True

In [39]:
if num > 0 and num < 15:
    print(num)

4

In [40]:
num = 4
num > 0 or num > 15

True

In [41]:
if num > 0 or num > 15:
    print(num)

4

In [42]:
if False or False:
    print('Nothing will print out')

In [43]:
num = 10
not num < 20

False

In [44]:
#else Statement

In [45]:
num = 1
if num > 3 :
    print('Hi')

In [46]:
num = 1
if num > 3 :
    print("Hi")
else:
    print("number is not greater than 3")

number is not greater than 3

In [47]:
num = 4
if num > 3 :
    print("Hi")
else:
    print("number is not greater than 3")

Hi

In [48]:
#Task 1: Distinguishing odd-even

In [49]:
num = 3
if num % 2 == 0 :
    print("Your integer is even")
else:
    print("Your integer is odd")

Your integer is odd

In [50]:
#elif Statement

In [51]:
num = 21
if num > 50:
    print("num is larger than 50")
elif num == 21:
    print("num = 21")
else:
    print("Catchall condition")

num = 21

In [52]:
my_num = 5
if my_num % 2 == 0:
    print('Your integer is even')
elif my_num % 2 != 0:
    print('Your integer is odd')
else:
    print('Are u sure your number is an integer?')

Your integer is odd

In [54]:
dice_value = 1
if dice_value == 1:
    print('You rolled a {}.Great job!'.format(dice_value))
elif dice_value == 2:
    print('You rolled a {}.Great job!'.format(dice_value))
elif dice_value == 3:
    print('You rolled a {}.Great job!'.format(dice_value))
elif dice_value == 4:
    print('You rolled a {}.Great job!'.format(dice_value))
elif dice_value == 5:
    print('You rolled a {}.Great job!'.format(dice_value))
elif dice_value == 6:
    print('You rolled a {}.Great job!'.format(dice_value))
else:
    print('None of the conditions above (if elif) were evaluated as True')

You rolled a 1.Great job!

In [55]:
# Print "fizz" instead of numbers for multiples of three,
# and "buzz" for multiples of five. Print "fizzbuzz" for
# three and five common multiples

In [56]:
num = 10

In [57]:
if num % 3 ==0 and num % 5 == 0:
    print('FizzBuzz')
elif num % 3 == 0:
    print('Fizz')
elif num % 5 == 0:
    print('Buzz')
else:
    print(str(num))

Buzz

In [58]:
num = 15

In [59]:
string = ""
if num % 3 == 0:
    string = string + "Fizz"
if num % 5 == 0:
    string = string + "Buzz" 
if num % 3 != 0 and num % 5 != 0:
    string = string + str(num)
print(string)

FizzBuzz

In [60]:
#List

In [61]:
z = [3, 7, 4, 2]

In [62]:
z[0]

3

In [63]:
z[2]

4

In [64]:
z[-2]

4

In [65]:
z[0:2]

[3, 7]

In [66]:
z[:3]

[3, 7, 4]

In [67]:
z[1:]

[7, 4, 2]

In [68]:
print(min(z), max(z), len(z), sum(z))

2 7 4 16

In [69]:
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

In [70]:
random_list.index(4)

0

In [71]:
random_list.index(4,3)

3

In [72]:
random_list.index(4,5,6)

5

In [73]:
x = [3, 7, 2, 11, 8, 10, 4]
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [74]:
x.sort()
print(x)

[2, 3, 4, 7, 8, 10, 11]

In [75]:
x.sort(reverse = True)
print(x)

[11, 10, 8, 7, 4, 3, 2]

In [76]:
y.sort()
print(y)

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [77]:
y.sort(reverse = True)
print(y)

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [78]:
new_list = sorted(y)
new_list

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [79]:
y

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [80]:
x

[11, 10, 8, 7, 4, 3, 2]

In [81]:
x.append(3)
print(x)

[11, 10, 8, 7, 4, 3, 2, 3]

In [82]:
x.remove(10)
print(x)

[11, 8, 7, 4, 3, 2, 3]

In [83]:
print(x)

[11, 8, 7, 4, 3, 2, 3]

In [84]:
x.pop(3)

4

In [85]:
print(x)

[11, 8, 7, 3, 2, 3]

In [86]:
x.extend([4,5])

In [87]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

In [88]:
print('x+y=',x+y)

x+y= [11, 8, 7, 3, 2, 3, 4, 5, 'Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [89]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

In [90]:
x.insert(4,[4,5])

In [91]:
x

[11, 8, 7, 3, [4, 5], 2, 3, 4, 5]